<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>


  <ion-img #image1  src="../../assets/280px-International_Pokémon_logo.svg.png" style="height: 150px;margin-top: 100px;"></ion-img>
  <ion-img   src="../../assets/pngwing.com.png" style=" padding: 0px; transform: scale(1); height: 100px;"></ion-img>
 
  
  <ion-card>
<!-- <form [formGroup]="searchFormGroup" novalidate> -->
    <ion-item>
        <ion-label position="floating">
            Procure seu pokemon favorito
        </ion-label>
        <ion-input type="text" [(ngModel)]="this.pokemon" >

      </ion-input>
     
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button  color="success" expand="block" (click)="searchPokemon()">Pesquisar</ion-button>
        </ion-col>
      </ion-row>
  </ion-card>

  <ion-card *ngIf="this.listPokemon" style="z-index:2;">
    <ion-item>
      <ion-label>
        {{ listPokemon.name}}
      </ion-label>
      
    </ion-item>
    <ion-item style="flex-direction: column;">
      <ion-label>
        Habilidades:
      </ion-label>
      <ion-list>
        <ion-item *ngFor="let ability of this.listPokemon.abilities">
          <ion-label>{{ability.ability.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-card>


<ion-footer>
  <ion-img src="../../assets/kawax-pokeball-3097.png" style=" z-index:1;position: absolute; left: 300px; top: 200px; padding: 0px; transform: scale(1); height: 200px;"></ion-img>
</ion-footer>
 

</ion-content>
